################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Chatbot/bin
/Chatbot/obj
/Entities/bin
/Entities/obj
/Rules/bin
/Rules/obj
*.dll
*.cache
.vs/ChatBot/v15/.suo
.vs/ChatBot/v15/Server/sqlite3/storage.ide-shm
.vs/ChatBot/v15/Server/sqlite3/storage.ide-wal
*.pdb
*.dll
*.dll
*.dll
*.dll
*.pdb
*.cache
