################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ChatBot/config/applicationhost.config
/.vs/ChatBot/v16
